# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [10]:
import pandas as pd
import numpy as np
import tensorflow as tf


data = pd.read_csv(r"C:\Users\Lenovo\Documents\Ironhack\DATA\tic-tac-toe.csv")
data

    TL TM TR ML MM MR BL BM BR  class
0    x  x  x  x  o  o  x  o  o   True
1    x  x  x  x  o  o  o  x  o   True
2    x  x  x  x  o  o  o  o  x   True
3    x  x  x  x  o  o  o  b  b   True
4    x  x  x  x  o  o  b  o  b   True
..  .. .. .. .. .. .. .. .. ..    ...
953  o  x  x  x  o  o  o  x  x  False
954  o  x  o  x  x  o  x  o  x  False
955  o  x  o  x  o  x  x  o  x  False
956  o  x  o  o  x  x  x  o  x  False
957  o  o  x  x  x  o  o  x  x  False

[958 rows x 10 columns]

In [11]:
data.replace('x', 1, inplace=True)
data.replace('o', 2, inplace=True)
data.replace('b', 3, inplace=True)
data

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     1   1   1   1   2   2   1   2   2   True
1     1   1   1   1   2   2   2   1   2   True
2     1   1   1   1   2   2   2   2   1   True
3     1   1   1   1   2   2   2   3   3   True
4     1   1   1   1   2   2   3   2   3   True
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953   2   1   1   1   2   2   2   1   1  False
954   2   1   2   1   1   2   1   2   1  False
955   2   1   2   1   2   1   1   2   1  False
956   2   1   2   2   1   1   1   2   1  False
957   2   2   1   1   1   2   2   1   1  False

[958 rows x 10 columns]

In [12]:
from tensorflow.keras.utils import to_categorical
data['class'] = to_categorical(data['class'])

In [13]:
data

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     1   1   1   1   2   2   1   2   2    0.0
1     1   1   1   1   2   2   2   1   2    0.0
2     1   1   1   1   2   2   2   2   1    0.0
3     1   1   1   1   2   2   2   3   3    0.0
4     1   1   1   1   2   2   3   2   3    0.0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953   2   1   1   1   2   2   2   1   1    1.0
954   2   1   2   1   1   2   1   2   1    1.0
955   2   1   2   1   2   1   1   2   1    1.0
956   2   1   2   2   1   1   1   2   1    1.0
957   2   2   1   1   1   2   2   1   1    1.0

[958 rows x 10 columns]

In [14]:
y = data["class"]
X=data.drop('class', axis=1)

In [15]:
X_scaled = tf.keras.utils.normalize(X, axis=1)
X_scaled

,TL,TM,TR,ML,MM,MR,BL,BM,BR
0,0.218218,0.218218,0.218218,0.218218,0.436436,0.436436,0.218218,0.436436,0.436436
1,0.218218,0.218218,0.218218,0.218218,0.436436,0.436436,0.436436,0.218218,0.436436
2,0.218218,0.218218,0.218218,0.218218,0.436436,0.436436,0.436436,0.436436,0.218218
3,0.171499,0.171499,0.171499,0.171499,0.342997,0.342997,0.342997,0.514496,0.514496
4,0.171499,0.171499,0.171499,0.171499,0.342997,0.342997,0.514496,0.342997,0.514496
...,...,...,...,...,...,...,...,...,...
953,0.436436,0.218218,0.218218,0.218218,0.436436,0.436436,0.436436,0.218218,0.218218
954,0.436436,0.218218,0.436436,0.218218,0.218218,0.436436,0.218218,0.436436,0.218218
955,0.436436,0.218218,0.436436,0.218218,0.436436,0.218218,0.218218,0.436436,0.218218
956,0.436436,0.218218,0.436436,0.436436,0.218218,0.218218,0.218218,0.436436,0.218218
957,0.436436,0.436436,0.218218,0.218218,0.218218,0.436436,0.436436,0.218218,0.218218

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.20, random_state=40)
print(X_train.shape); print(X_test.shape)

(766, 9)
(192, 9)

In [17]:
import keras
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(500, activation='relu', input_dim=8))
model.add(Dense(100, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [18]:
model.fit(X_train, y_train, epochs=20)

Epoch 1/20

ValueError: in user code:

    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\training.py", line 878, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\training.py", line 867, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\training.py", line 860, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\training.py", line 808, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\input_spec.py", line 263, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_1" is incompatible with the layer: expected shape=(None, 8), found shape=(None, 9)

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [25]:
# Evaluating the model
model.evaluate(X_test,y_test)

ValueError: in user code:

    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\training.py", line 1366, in test_function  *
        return step_function(self, iterator)
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\training.py", line 1356, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\training.py", line 1349, in run_step  **
        outputs = model.test_step(data)
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\training.py", line 1303, in test_step
        y_pred = self(x, training=False)
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\Lenovo\anaconda3\lib\site-packages\keras\engine\input_spec.py", line 263, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_1" is incompatible with the layer: expected shape=(None, 8), found shape=(32, 9)

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [ ]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here